ubuntu-box-vagrant/.vagrant/
windows-box-vagrant/.vagrant/
windows-dev-vagrant/.vagrant/
windows-box-vagrant/box-win11/.vagrant/
windows-dev-vagrant/win11/.vagrant/
windows-dev-vagrant/win10/.vagrant/

ubuntu-box-vagrant/box-jammy-humble-harmonic/.vagrant/
ubuntu-box-vagrant/box-jammy-humble-robot/.vagrant/
ubuntu-box-vagrant/box-jammy-iron-harmonic/.vagrant/
ubuntu-box-vagrant/box-noble-jazzy-harmonic/.vagrant/
ubuntu-dev-vagrant/box-jammy-humble-harmonic/.vagrant/


ubuntu-dev-vagrant/jammy-iron-harmonic/.vagrant/
ubuntu-dev-vagrant/noble-jazzy-harmonic/.vagrant/
ubuntu-dev-vagrant/jammy-humble-harmonic/.vagrant/
ubuntu-dis-vagrant/bot-jammy-humble-harmonic/.vagrant/

ubuntu-dev-vagrant/jahuha-bot/.vagrant/
ubuntu-dev-vagrant/jahuha-sim/.vagrant/
ubuntu-dev-vagrant/jahuha-dis/.vagrant/